* {
    margin: 0;
    padding: 0;
}

/* footer*/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 'item1 item2 item3' 'item4 item4 item4';
    justify-content: space-between;
    gap: 10px;
}

footer .item1 {
    background-color: rgb(187, 128, 51);
    grid-area: item1;
}

footer .item2 {
    background-color: rgb(187, 128, 51);
    grid-area: item2;
}

footer .item3 {
    background-color: rgb(187, 128, 51);
    grid-area: item3;
}

footer .item4 {
    background-color: rgb(249, 255, 252);
    grid-area: item4;
    text-align: center;
}